<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature
        android:name="android.hardware.Camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/laundrybin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".No_internet"></activity>
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".home" />
        <activity android:name=".MainActivity" />
        <activity android:name=".user_page" android:parentActivityName=".home"/>
        <activity android:name=".accounts_page" android:parentActivityName=".home"/>
        <activity android:name=".store_page" android:parentActivityName=".home"/>
        <activity android:name=".viewuser_frag" android:parentActivityName=".home"/>
        <activity android:name=".adminRegister" />
        <activity
            android:name=".portrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".addwashactivity"
            android:parentActivityName=".home" />


    </application>



</manifest>